<section class="card">

    <header><h1>{{artwork.title}}</h1></header>

    <div class="card-body">
      <img src="{{artwork.image_url}}" alt="{{artwork.description}}">
      <p>By: {{artwork.user.name}}</p>
    </div>

</section>