.dashboard {
  background-image: url("/assets/image/watercolor.jpg");
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.navbar {
  background: linear-gradient(to bottom right, #3e4242 0%, #69787a 100%);
  color: white;
}

.nav-link {
    color: white;
    font-size: 20px;
    align-items: right;
}

.nav-link:hover {
  color: inherit;
}

a {
  color: white;
}

a:hover {
  color: inherit;
}

h1 {
    text-transform: uppercase;
}

.gallery {
    flex: 4;
    padding: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

.artwork {
    flex: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.artwork-list {
  padding: 20px;
}

.artwork-list a {
  color: black;
}

.artwork-list a:hover {
  color: inherit;
}

.login {
  background-image: url("/assets/image/watercolor.jpg");
  width: 100%;
  height: 100vh;
  flex: 4;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#gallery-link a {
  background-color: white;
  color: black;
}

#artwork-link a {
  background-color: white;
  color: black;
}

#art-user {
  background-color: white;
  color: black;
}

.gallery-name {
  padding: 30px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

.card {
  margin: 10px;
  border-color: white;
}

#image {
  width: 500px;
  height: auto;
}

.comments {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  align-items: center;
}

.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
}

.commentCont {
  background-color: #E5F4F4;
  border-style: solid;
  border-radius: 25px;
}